//Typography
$font: "Varela Round", sans-serif;
$font2: "Libre Baskerville", serif;
$font3: "Pacifico", cursive;

//Color
$headerBg01: #20779a;
$headerBg02: rgb(32, 126, 160);
$text: #121053;
$heading-text: #14213d;
$btn: #21a7d0;
$bgOne: #fbf8cc;
$bgTwo: #e9fbd5;
$bgThree: #dcf1fd;
$C-1: #d3fcf8;
$C-2: #16aaca;
$C-3: #f9e8e8;
$C-4: #f8f6d1;
$C-5: #eaddf8;
$C-6: #e9fbd5;

$white: #fff;
$black: #000;
$light: #e5e5e5;

$primary: #00b9f1;
$secondary: #14213d;
$top-bg: #070c17;
$alpha: #07b3e7;
$beta: #ff006e;
$gamma: #f9930c;
$delta: #4c7eeb;
$epsilon: #3dd8b6;
$zeta: #26d168;
$eta: #8338ec;
$theta: #332750;
$border: #f6f6f6;
// $lota:
// $kappa:

//Brand Color
$fb: #3b5998;
$tw: #1da1f2;
$ins: #f56040;
$in: #0077b5;
$be: #1769ff;
