.aboutus {
  background: #282c2f;
  padding: 6rem 0;
  &__title {
    font-size: 1rem;
    font-family: $font2;
    text-transform: uppercase;
    margin: 0 0 1.2rem 0;
  }
  &__desc {
    font-family: $font;
    font-size: 0.98rem;
  }
  &__left {
    &-address {
      text-transform: uppercase;
      font-family: $font;
      font-size: 1rem;
    }
  }
  &__right {
    &-position {
      position: relative;
      top: 0;
      left: 0%;

      //   min-width: 768px;
      @include md-screen {
        left: 14%;
      }
    }
    &-inp {
      padding: 0 0 !important;
      border-radius: 50px !important;
      box-shadow: none !important;
      outline: 0 !important;
      background: #3d3c41 !important;
      border: 1px solid #3d3c41 !important;
      height: 3rem !important;
      &:focus {
        border: 1px solid #ee7560 !important;
      }

      &--label {
        font-family: $font;
        font-size: 0.9rem;
        color: $white !important;
        padding: 11px 0.75rem !important;
        left: 5% !important;
      }
    }
    &-btn {
      position: relative;
      text-transform: uppercase;
      font-size: 0.9rem !important;
      padding: 0.3rem 2.3rem !important;
      border-radius: 50px !important;
      box-shadow: none !important;
      outline: 0 !important;
      border: 1px solid #ee7560 !important;
      background-image: linear-gradient(-90deg, #ee7560 0%, #ff5858 97%);
      color: $white !important;

      // min-width: 568px;
      @include iphn-screen {
        font-size: 1rem !important;
        padding: 11px 2.5rem !important;
      }

      // min-width: 768px;
      //   @include md-screen {
      //     font-size: 0.85rem !important;
      //   }

      // min-width: 992px;
      @include lg-screen {
        font-size: 0.85rem !important;
        padding: 12px 2.5rem !important;
      }
    }
  }
}
