.cart {
  &__title {
    font-family: $font2;
    font-size: 1.3rem;
  }
  &__price {
    font-size: 1rem;
  }
  &__inp {
    outline: 0 !important;
    padding: 5px 0px 5px 8px;
    border-radius: 60px;
    border: 1px solid black;

    // min-width: 568px;
    @include iphn-screen {
      padding: 5px 10px 5px 12px;
    }
  }
  &__bin {
    border: 1px solid $ins;
    border-radius: 60px;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover &-icon {
      color: $ins;
    }
    &-icon {
      transition: all 0.2s ease-in;
      color: $black;
    }
  }
}
