.price {
  margin: 11rem 0;
  &__span {
    font-size: 1.5rem;
    color: $black;
    text-transform: capitalize;
    font-family: $font3;

    // max-width: 575px;
    @include xs-screen {
      font-size: 1rem;
    }
  }
  &__title {
    text-transform: capitalize;
    font-family: $font2;
    color: #ee7560;
    font-size: 3rem;

    // max-width: 575px;
    @include xs-screen {
      font-size: 2.3rem;
    }
  }
  &__p {
    font-size: 1rem;
  }
  &__list {
    margin: 0 0;
    padding: 0 0;
    li {
      list-style: none;
      text-transform: capitalize;
      font-size: 1.1rem;
      color: #8d8d8d;
      margin: 0 0 3.5rem 0;
    }
    &-line {
      display: inline-block;
      width: 4rem;
      margin: 0 0 0 0;

      //   min-width: 568px;
      @include iphn-screen {
        width: 18rem;
      }
      
      //   min-width: 768px;
      @include md-screen {
        width: 20rem;
      }
      
      //   min-width: 992px;
      @include lg-screen {
        width: 14rem;
      }
      
      //   min-width: 1200px;
      @include xlii-screen {
        width: 22rem;
      }

    }
    &-money {
      font-weight: 700;
      font-size: 1rem;
      color: $black;
    }
    &-text {
      font-size: 0.95rem;
      margin: 5px ​0 0 0;
    }
  }
}
